body {
    color: #6C6C6C;
    font-family: '微软雅黑','Segoe UI','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.border {
    margin-top: 10px;
    border-bottom: 1px solid #DEDEDE;
}

.border-all {
    border: 1px solid #9F9F9F;
}

.border-white {
    border: 1px solid #ffffff;
}

.logo {
    display: block;
    width: 130px;
    height: 60px;
    background: url('../img/logo.png') no-repeat;
}

.split {
    margin-left: 45px;
}

.main img {
    width: 100%
}

img.arrowdown {
    position: fixed;
    position: fixed;
    bottom: 11.88px;
    left: 50%;
    z-index: 32222;
    width: 37.6px;
    height: 37.6px;
    margin-left: -18.8px;
}

.pull-right {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.color-black {
    color: #6C6C6C;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}

.flip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    /*IE*/
    filter: FlipV;
}

.margin10-l {
    margin-left: 10px;
}
.margin10-b {
    margin-bottom: 10px;
}
.margin20-l {
    margin-left: 20px;
}

.margin20-t {
    margin-top: 20px;
}

.margin30-t {
    margin-top: 30px;
}

.margin30-l {
    margin-left: 30px;
}

.margin30-r {
    margin-right: 30px;
}

.margin40-t {
    margin-top: 40px;
}

.margin40-l {
    margin-left: 40px;
}

.margin50-t {
    margin-top: 50px;
}

.margin50-l {
    margin-left: 50px;
}

.margin50-b {
    margin-bottom: 50px;
}

.margin60-t {
    margin-top: 60px;
}

.margin60-l {
    margin-left: 60px;
}

.margin100-t {
    margin-top: 100px;
}

.margin100-l {
    margin-left: 100px;
}
.margin100-b {
    margin-bottom: 100px;
}

.margin200-l {
    margin-left: 200px;
}

.pad10 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 顶部菜单 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0 none;
}

.box {
    background: #1a529c
}

/*.fix-header {
    background: white;
    position: fixed;
}*/

/*.main-container {
    margin-top: 200px;
}*/
/*第二页*/
.bg {
    background: #F4F4F4;
    margin-bottom: -55px;
}

.bg-nav {

    background-image: url('../img/nav-2.png');
    background-repeat: no-repeat;
    margin-left: 80px;
}

.bg-nav .row {
    width: 960px;
    margin-left: 100px;
}

.page-container {
    margin-top: 70px;
}

.bg-left {
    width: 285px;
    float: left;
    background-image: url('../img/nav-2.png');
    background-repeat: no-repeat;
}

.bg-left h4 {
    margin-left: 118px;
    margin-top: 25px;
}

.bg-right {
    width: 800px;
    float: right;
    margin-right: 38px;
    border-left: 1px solid #9F9F9F;
}

.bg-right .image {
    min-height: 600px;
}

.info {
    margin-left: 30px;
}

.atitle {
    margin-top: 20px;
    border-left: 4px solid #9F9F9F;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.acontent {
    margin-top: 10px;
    border-top: 2px solid #9F9F9F;
    padding-top: 20px;
}

.acontent-noborder {
    margin-top: 10px;
    padding-top: 20px;
}

.bg-sidebar {
    border-left: 1px solid #9F9F9F;
    margin-left: 68px;
    width: 149px;
    padding-top: 20px;
    padding-left: 50px;

}

.bg-sidebar li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-sidebar li a {
    color: #6C6C6C;
    text-decoration: none;
}

.bg-sidebar li:hover {
    background: #ffffff;
    width: 168px;
}

.bg-sidebar .active {
    background: #ffffff;
    width: 168px;
}

.nav-shop a {
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-grey {
    background: #F4F4F4;

}

.table-news img {
    height: 80px;
    widht: 100px;
}

.table-news td {
    border-top: 0px solid #DDDDDD;
}

.border-right　 {
    border-right: 1px solid #DDDDDD;
}

.border-left　 {
    border-left: 1px solid #DDDDDD;
}

.border-no {
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.product {}
.product-detail {
    margin-top: 20px;
    float: right;
    width: 180px;
}
.product-title {
    letter-spacing: 5px;
    line-height: 23px;
    font-size: 16px;
    font-weight: bold;
}
.product-content {
    margin-top: 30px;
    font-size: 13px;
}
.product-image {
    float: left;
}
.product-image img{
    float: left;
    width: 560px;
}

.image-div {
    margin-bottom: 20px;
    width: 560px;
    overflow: hidden;
}
div.guanzhu {
    margin-top: 20px;
    margin-left: 0px;
}

div.guanzhu>p>a{
    color: #6C6C6C;
    text-decoration: none;
}

div.guanzhu>>p>a:hover {
    color: #000;
}