body {
    color: #6C6C6C;
    font-family: '微软雅黑', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.border {
    margin-top: 10px;
    border-bottom: 1px solid #DEDEDE;
}

.border-black {
    margin-top: 10px;
    border-bottom: 1px solid #2B2B2B;
}

.border-all {
    border: 1px solid #9F9F9F;
}

.border-white {
    border: 1px solid #ffffff;
}

.logo {
    display: block;
    width: 130px;
    height: 60px;
    background: url('../img/logo.png') no-repeat;
}

.split {
    margin-left: 45px;
}

.main img {
    width: 100%
}

img.arrowdown {
    position: fixed;
    position: fixed;
    bottom: 11.88px;
    left: 50%;
    z-index: 32222;
    width: 37.6px;
    height: 37.6px;
    margin-left: -18.8px;
}

.pull-right {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.color-black {
    color: #6C6C6C;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}

.flip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    /*IE*/
    filter: FlipV;
}

.margin10-l {
    margin-left: 10px;
}

.margin10-t {
    margin-top: 10px;
}

.margin10-b {
    margin-bottom: 10px;
}

.margin20-l {
    margin-left: 20px;
}

.margin20-t {
    margin-top: 20px;
}
.margin20-b {
    margin-bottom: 20px;
}
.margin30-t {
    margin-top: 30px;
}

.margin30-l {
    margin-left: 30px;
}

.margin30-r {
    margin-right: 30px;
}

.margin40-t {
    margin-top: 40px;
}

.margin40-l {
    margin-left: 40px;
}

.margin50-t {
    margin-top: 50px;
}

.margin50-l {
    margin-left: 50px;
}
.margin50-r {
    margin-right: 50px;
}

.margin50-b {
    margin-bottom: 50px;
}

.margin60-t {
    margin-top: 60px;
}

.margin60-l {
    margin-left: 60px;
}

.margin100-t {
    margin-top: 100px;
}

.margin100-l {
    margin-left: 100px;
}
.margin100-r {
    margin-right: 100px;
}
.margin100-b {
    margin-bottom: 100px;
}

.margin200-l {
    margin-left: 200px;
}

.pad10 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad5 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad20-l{
    padding-left: 20px;
}

.pad20-r {
    padding-right: 20px;
}

/* 顶部菜单 */

.box {
    background: #1a529c
}

/*.fix-header {
    background: white;
    position: fixed;
}*/

/*.main-container {
    margin-top: 200px;
}*/
/*第二页*/
.bg {
    background: #F4F4F4;
    margin-bottom: -55px;
}

.bg-nav {

    background-image: url('../img/nav-2.png');
    background-repeat: no-repeat;
    margin-left: 80px;
}

.bg-nav .row {
    width: 960px;
    margin-left: 100px;
}

.page-container {
    margin-top: 70px;
}

.bg-left {
    width: 255px;
    float: left;
    background-image: url('../img/nav-2.png');
    background-repeat: no-repeat;
}

.bg-left h4 {
    margin-left: 130px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: normal;
}

.bg-right {
    width: 790px;
    float: right;
    margin-right: 68px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #B7B7B7;
}

.bg-right .image {
    /*min-height: 600px;*/
    width: 100%;
    *width: 780px;
}

.info {
    margin-left: 30px;
}

.atitle {
    margin-top: 20px;
    border-left: 4px solid #9F9F9F;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
}

.acontent {
    margin-top: 10px;
    border-top: 2px solid #9F9F9F;
    padding-top: 20px;
}

.acontent-noborder {
    margin-top: 10px;
    padding-top: 20px;
}

.bg-sidebar {
    border-left: 1px solid #B7B7B7;
    margin-left: 68px;
    width: 149px;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 14px;

}

.bg-sidebar li {
    margin-left: -20px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

.bg-sidebar li a {
    color: #6C6C6C;
    text-decoration: none;
    letter-spacing: 5px;
}

.bg-sidebar li:hover {
    background: #ffffff;
    width: 158px;
}

.bg-sidebar .active {
    background: #ffffff;
    width: 158px;
}

.nav-shop a {
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-grey {
    background: #F4F4F4;

}

.table-news img {
    height: 80px;
    widht: 100px;
}

.table-news td {
    border-top: 0px solid #DDDDDD;
}

.border-right　 {
    border-right: 1px solid #DDDDDD;
}

.border-left　 {
    border-left: 1px solid #DDDDDD;
}

.border-no {
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.product {
}

.product-detail {
    margin-top: 20px;
    float: right;
    width: 190px;
}

.product-title {
    letter-spacing: 5px;
    line-height: 23px;
    font-size: 16px;
    font-weight: normal;
}

.product-content {
    margin-top: 30px;
    font-size: 13px;
}

.product-image {
    float: left;
}

.product-image img {
    float: left;
    width: 560px;
}

.image-div {
    margin-bottom: 20px;
    width: 560px;
    overflow: hidden;
}

div.guanzhu {
    margin-top: 20px;
    margin-left: 0px;
}

div.guanzhu > p > a {
    color: #6C6C6C;
    text-decoration: none;
}

div.guanzhu > > p > a:hover {
    color: #000;
}

div.arrow-left {
    position: fixed;
    display: none;
    top: 300px;
    left: 50px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

div.arrow-left > a >img {
    width: 30px;
    height: 60px;
}

div.arrow-right {
    position: fixed;
    display: none;
    top: 300px;
    right: 50px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

div.arrow-right > a >img {
    width: 30px;
    height: 60px;
}

.picL {
    overflow: hidden;
    zoom: 1;
}

.picL li {
    overflow: hidden;
    position: relative;
    height: 300px;
    zoom: 1
}

.picL li .text {
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #fff;
    position: absolute;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    height: 70px;
    top: 300px;
    font-size: 13px;
    font-family: "宋体";
    left: 0px;
}

.tuijian {
    float: left;
    width: 800px;
}

.module-title {
    font-size: 14px;
    margin-top: 20px;
}

.product-items {
    margin-left: 0px;
}
.product-items li {
    margin-left: 5px;
}

.bold-no{
    font-weight: normal;
    font-size: 16px;
}

.form-div {
    box-shadow: 0px 0px 1px 1px #c6c6c6;
    margin-left: 260px;
    width: 280px;
    background: #fffcfb;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 20px;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.btn-form {
    width: 135px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-sign {
    background: #6C6C6C;
    color: #ffffff;
}

.btn-reset {
    background: #8896a0;
    color: #ffffff;
}

.footer {
    background: #4A4A48;
    height: 150px;
    color: #969696;
    font-size: 12px;
    overflow: hidden;
    padding-left: 150px;
    padding-right: 150px;
}

.footer-bottom {
    padding-left: 150px;
    padding-right: 150px;
    background: #3E3C3A;
    height: 40px;
    color: #969696;
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.container {
    width: 900px!important;
}

div.logo-b {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    background: url("../img/logo-b.png") no-repeat;
}