body{
    color: #6C6C6C;
}

.border {
    margin-top: 10px;
    border-bottom:1px solid #DEDEDE;
}

.border-white {
    border: 1px solid #ffffff;
}
.logo {
    display: block;
    width: 130px;
    height: 60px;
    background: url('../img/logo.png') no-repeat;
}

.menu {
    margin-bottom: 20px;
}
.menu ul {

}
.menu ul>li {
    list-style:none;
    float:left;
    width:155px;
    text-align: center;
}

.menu ul>li>a:link{
    color:#6C6C6C;
    text-decoration:none;
}
.menu ul>li>a:visited{
    color:#6C6C6C;
    text-decoration:none;
}
.menu ul>li>a:focus{
    color:#214283;
    text-decoration:none;
}

.menu ul>li>a:hover{
    color:#214283;
    text-decoration:none;
}

.split {
    margin-left: 45px;
}

.main {
    height: 1000px;
    background-size:100%;
    background-repeat:no-repeat;
    background-image: url('../../images/bg.jpg');
    color: #ffffff;
}

img.arrowdown {
    position: fixed;
    position: fixed;
    bottom: 11.88px;
    left: 50%;
    z-index: 3;
    width: 37.6px;
    height: 37.6px;
    margin-left: -18.8px;
}

.pull-right {
    float: left;
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.color-black {
    color: #6C6C6C;
}


.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}

.margin10-l {
    margin-left: 10px;
}

.margin20-l {
    margin-left: 20px;
}

.margin20-t {
    margin-top: 20px;
}
.margin30-t {
    margin-top: 30px;
}
.margin30-l {
    margin-left: 30px;
}
.margin30-r {
    margin-right: 30px;
}
.margin40-t {
    margin-top: 40px;
}
.margin40-l {
    margin-left: 40px;
}
.margin50-t {
    margin-top: 50px;
}
.margin50-l {
    margin-left: 50px;
}
.margin50-b {
    margin-bottom: 50px;
}

.margin60-t {
    margin-top: 60px;
}
.margin60-l {
    margin-left: 60px;
}
.margin100-t {
    margin-top: 100px;
}
.margin100-l {
    margin-left: 100px;
}

.pad10 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}